@import './resets';

// body{
//     height: 6000px;
// }

// HEADER STARTS
header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 8%;
        .navBrand{
            img{
                height: 80px;
                width: 80px;
            }
        }
        .menu{
            ul{
                display: flex;
                li{
                    display: inline-block;
                    margin-right: 20px;
                    a{
                        color: $main-color;
                        transition: all 0.2s linear;
    
                        &:hover{
                            color: #2f54eb;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                        a{
                            @include tryButton();
                        }
                    }
                }
            }
        }
    }
    .fa-bars{
        display:none;
    }
}

@media screen and (max-width: 992px){
    header{
        nav{
            margin: 0;
            display: block;
            padding: 10px;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.19);
            
            .menu{
                width: 100%;
                ul{
                    display: block;
                    text-align: center;
                    padding-left: 0;
                    li{
                        display: block;
                        margin-bottom: 15px;

                        &:nth-child(2){
                            margin-bottom: 20px;
                        }

                        &:nth-child(3) a{
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
        .fa-bars{
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
// HEADER ENDS

// HIRE SECTION STARTS
#hire{
    margin-top: 50px;
    .main{
        display: flex;
        height: 500px;

        .hireText{
            margin-right: 50px;
            .innerText{
                transform: translateY(50%);
            }
            h1{
                font-size: 3rem;
                // margin-top: 15%;
            }
            p{
                margin: 30px 0;
                color: $main-color;
            }
            a{
                @include tryButton();
            }
        }
        .hireVideo{
            width: 70%;
            height: 100%;
            overflow: hidden;
            video{
                height: 100%;
                position: relative;
                right: 100px;
            }
        }
    }

    .hireBottom{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        
        .left{
            margin-right: 20px;
            i{
                color: $secondary-color;
                background-color: #f2f6ff;
                padding: 15px;
                border-radius: 5px;
            }
        }
        .right{
            h3{
                font-size: 1.2rem;
                font-weight: bold;
            }
            p{
                color: $main-color;
            }
        }
    }
}
// HIRE SECTION ENDS

// TESTIMONIALS SECTION STARTS
#testimonials{
    margin-top: 100px;
    .heading{
        p{
            color: $main-color;
            text-align: center;
            margin-bottom: 30px;
            font-weight: 600;
        }
    }
    .companyList{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0 50px;

        .company{
            margin-right: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
// TESTIMONIALS SECTION ENDS

// INFO SECTION STARTS
#info{
    background-image: url('../images/info_section_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    position:relative;

    margin: 80px 0;
    height: 500px;
    .layout{
        background-color: rgba($color: #000000, $alpha: 0.7);
        text-align: center;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .innerText{
            width: 55%;
            h1{
                font-size: 2.7rem;
            }
            p{
                margin: 20px 0 30px 0;
            }
            a{
                @include tryButton();
            }
        }
    }
}
// INFO SECTION ENDS

// STATISTICS SECTION STARTS
#statistics{
    .heading{
        width: 50%;
        margin: 0 auto 40px;
        h2{
            margin-bottom: 30px;
        }
        p{
            color: $main-color;
        }
    }

    .stats_main{
        display: flex;

        .wrapper{
            &:not(:last-child){
                margin-right: 20px;
            }
            h1{
                color: $secondary-color;
            }
            h3{
                font-size: 1.2rem;
            }
            p{
                color: $main-color;
            }
        }
    }
    .stats_footer{
        a{
            @include tryButton();
        }
    }
}
// STATISTICS SECTION ENDS

// DEVELOPER SECTION STARTS
#developer{
    margin: 80px 0;
    padding: 100px 0;
    background-color: #f9fafb;

    // HEADING
    .heading{
        width: 50%;
        margin: 0 auto;
        h2{
            margin-bottom: 30px;
        }
        p{
            color: $main-color;
            margin-bottom: 50px;
        }
    }

    .developerWrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        .inner{
            margin-right: 30px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(93,99,112,.15);
            transition: all 0.3s linear;

            a{
                display: inline-block;

                img{
                    width: 100%;
                    object-fit: cover;
                    height: 256px;
                }

                .innerText{
                    padding: 22px;
                    h3{
                        color: #000;
                        font-size: 1.3rem;
                    }
                    p:first-of-type{
                        color: $main-color;
                        margin-bottom: 20px;
                    }
                    p:last-child{
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                }
            }

            &:hover{
                box-shadow: 4px 8px 12px 0 rgba(93,99,112,.15);
            }
        }
    }

}
// DEVELOPER SECTION ENDS

// TRM SECTION STARTS
#trm{
    background-color: #f9fafb;
    text-align: center;
    width: 82%;
    margin: 0 auto;
    padding: 50px;

    img[alt="TRM Logo"]{
        transform: scale(1.5);
        margin-bottom: 40px;
    }
    p{
        color: $main-color;
    }
    .trm-ceo{
        margin-top: 20px;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            padding: 2px;
            border: 3px solid $secondary-color;
        }
        h5{
            font-size: 1rem;
            margin-top: 10px;
        }
    }
}
// TRM SECTION ENDS

// WORK_STEPS STARTS
#work_steps{
    margin-top: 80px;

    .heading{
        width: 50%;
        margin: 0 auto 40px;
        h2{
            margin-bottom: 30px;
            font-size: 2.2rem;
        }
    }
    
    .work_steps_main{
        display: flex;

        .wrapper{
            width: calc(100% / 3);
            &:not(:last-child){
                margin-right: 30px;
            }
            h6{
                color: $secondary-color;
                background-color: #f2f6ff;
                border-radius: 6px;
                display: inline-block;
                padding: 7px;
            }
            h3{
                font-size: 1.2rem;
            }
            p{
                color: $main-color;
            }
        }
    }
    .work_steps_footer{
        a{
            @include tryButton();
        }
    }
}
// WORK_STEPS SECTION ENDS

// ROLES SECTION STARTS
#roles{
    margin: 150px 0;

    .heading{
        width: 50%;
        margin: 0 auto 40px;
        h2{
            margin-bottom: 30px;
            font-size: 2.2rem;
        }
        p{
            color: $main-color;
        }
    }
    .roles-main{
        .tabs-menu{
            display: flex;
            justify-content: center;
            p{
                color: $main-color;
                background-color: #f7f9fa;
                transition: all 0.3s linear;
                cursor: pointer;
                padding: 10px 15px;
                border-radius: 50px;
                margin-right: 15px;

                &.active{
                    color: $secondary-color;
                    border: 1px solid $secondary-color;
                }

                &:hover{
                    color: $secondary-color;
                }
            }
        }
        .tabs-content{
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 20px;
        }
    }
}
// ROLES SECTION ENDS

// HIRING SECTION STARTS
#hiring{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 80px;

    h2{
        color: #fff;
        width: 45%;
    }
    a{
        color: $secondary-color;
        background-color: #fff;
        display: inline-block;
        padding: 16px;
        font-weight: 500;
        border-radius: 6px;
        height: 53px;

        &:hover{
            background-color: #f7f9fa;
        }
    }
}
// HIRING SECTION ENDS

// FOOTER STARTS
footer {
  padding: 20px;
  background-color: #0e0f11;
  margin-top: 100px;

  .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    *{
        color: #aaafb6;
    }

    .footer-left {
      display: flex;
      align-items: center;
  
      img{
          width: 80px;
          height: 80px;
          margin-right: 20px;
          position: relative;
          bottom: 6px;
      }
  
      li{
          display: inline-block;
  
          a{
              margin-right: 17px;
  
              &:hover{
                  color: #fff;
              }
          }
      }
    }
  
    .footer-right{
      a{
          i{
              display: inline-block;
              font-size: 1.5rem;
              margin-right: 10px;
              transition: all 0.1s linear;
      
              &:hover{
                  transform: scale(1.1);
              }
          }
      }
    }
  }

  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    *{
        color: $main-color;
    }

    ul{
        li{
            display: inline-block;

            a{
                transition: all 0.3s linear;

                &:hover{
                    color: #fff;
                }
            }
            &:not(:last-child) a{
                margin-right: 20px;
            }
        }
    }
  }
}
// FOOTER ENDS
